<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.stekkinger.nizi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NiziApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.AddPatientDietaryActivity"
            android:parentActivityName=".activities.AddPatientActivity" />
        <activity
            android:name=".activities.AddPatientActivity"
            android:parentActivityName=".activities.DoctorMainActivity" />
        <activity
            android:name=".activities.PatientDetailActivity"
            android:parentActivityName=".activities.DoctorMainActivity" />
        <activity
            android:name=".activities.EditPatientActivity"
            android:parentActivityName=".activities.PatientDetailActivity" />
        <activity
            android:name=".activities.EditPatientDietaryActivity"
            android:parentActivityName=".activities.EditPatientActivity" />
        <activity android:name=".activities.DoctorMainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>