<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.stekkinger.nizi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".NiziApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".activities.BaseActivity" />

        <activity
            android:name=".activities.doctor.AddPatientDietaryActivity"
            android:parentActivityName=".activities.doctor.AddPatientActivity" />
        <activity
            android:name=".activities.doctor.AddPatientActivity"
            android:parentActivityName=".activities.doctor.DoctorMainActivity" />
        <activity
            android:name=".activities.doctor.PatientDetailActivity"
            android:parentActivityName=".activities.doctor.DoctorMainActivity" />
        <activity
            android:name=".activities.doctor.EditPatientActivity"
            android:parentActivityName=".activities.doctor.PatientDetailActivity" />
        <activity
            android:name=".activities.doctor.EditPatientDietaryActivity"
            android:parentActivityName=".activities.doctor.EditPatientActivity" />

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.doctor.DoctorMainActivity" />
        <activity android:name=".activities.ForgotPasswordActivity"
            android:parentActivityName=".activities.LoginActivity"/>

        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>